* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
section {
  height: 100vh;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
h1 {
  font-family: "Courier New", Courier, monospace;
  font-size: 90px;
}
.red {
  color: red;
  padding: 15px;
  background-color: black;
}
.yellow {
  color: yellow;
  background-color: black;
  padding: 15px;
}
.white {
  color: white;
  background-color: black;
  padding: 15px;
}
